@font-face {
  font-family: "Poppins";
  src: url(../fonts/Poppins/Poppins-Medium.ttf) format(TrueType);
  font-weight: 400;
}
@font-face {
  font-family: "Poppins";
  src: url(../fonts/Poppins/Poppins-Bold.ttf) format(TrueType);
  font-weight: 700;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins";
  font-weight: 400;
  color: rgb(50, 50, 50);
  background-color: beige;
}

h4 {
  margin-bottom: 0.25rem;
  font-weight: bold;
}

.header {
  background-color: rgb(254, 80, 80);
  padding: 1rem;
}
.header__logo {
  max-height: 6rem;
  margin: 0 auto;
  display: block;
}

.hero {
  padding: 1rem;
  max-width: 45rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
@media screen and (min-width: 48rem) {
  .hero {
    padding: 3rem 0;
    gap: 2rem;
  }
}
.hero__text-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.hero__text {
  text-align: center;
}
.hero__btn {
  height: 3rem;
  min-width: 10rem;
  background-color: white;
  margin: 0 auto;
  font-size: 1.5rem;
  font-weight: 700;
  color: rgb(254, 80, 80);
  border: 2px solid rgb(254, 80, 80);
  transition: background-color 0.5s;
  border-radius: 15px;
}
.hero__btn:hover {
  background-color: rgba(254, 80, 80, 0.319);
}

.pokemon {
  width: 45rem;
}
.pokemon__card-container {
  padding: 1rem;
  margin: 0 auto;
  min-height: 50rem;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
}
.pokemon__name {
  background-color: rgb(254, 80, 80);
  text-transform: capitalize;
  color: white;
  width: 12rem;
  padding: 0.5rem 0.5rem 0rem 1rem;
  border-radius: 1rem 1rem 0 0;
  box-shadow: 5px 5px 5px rgb(165, 165, 165);
}
.pokemon__image-type-button-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.pokemon__type-container {
  display: flex;
  flex-direction: row;
  width: 4rem;
  gap: 0.5rem;
}
.pokemon__type, .pokemon__type-fairy, .pokemon__type-steel, .pokemon__type-dragon, .pokemon__type-dark, .pokemon__type-ghost, .pokemon__type-rock, .pokemon__type-bug, .pokemon__type-psychic, .pokemon__type-flying, .pokemon__type-ground, .pokemon__type-poison, .pokemon__type-fighting, .pokemon__type-ice, .pokemon__type-electric, .pokemon__type-grass, .pokemon__type-water, .pokemon__type-fire, .pokemon__type-normal {
  color: white;
  font-size: 0.75rem;
  border-radius: 5px;
  height: 2rem;
  line-height: 2rem;
  min-width: 3.75rem;
  text-align: center;
}
.pokemon__type-normal {
  background-color: grey;
}
.pokemon__type-fire {
  background-color: orange;
}
.pokemon__type-water {
  background-color: lightblue;
}
.pokemon__type-grass {
  background-color: green;
}
.pokemon__type-electric {
  background-color: yellow;
  color: darkgrey;
}
.pokemon__type-ice {
  background-color: aliceblue;
  color: darkgrey;
}
.pokemon__type-fighting {
  background-color: maroon;
}
.pokemon__type-poison {
  background-color: purple;
}
.pokemon__type-ground {
  background-color: brown;
}
.pokemon__type-flying {
  background-color: azure;
  color: darkgrey;
}
.pokemon__type-psychic {
  background-color: pink;
}
.pokemon__type-bug {
  background-color: yellowgreen;
}
.pokemon__type-rock {
  background-color: goldenrod;
}
.pokemon__type-ghost {
  background-color: rgb(93, 81, 112);
}
.pokemon__type-dark {
  background-color: black;
}
.pokemon__type-dragon {
  background-color: rgb(90, 15, 187);
}
.pokemon__type-steel {
  background-color: darkgrey;
}
.pokemon__type-fairy {
  background-color: lightpink;
}
.pokemon__content {
  background-color: rgb(254, 80, 80);
  padding: 1rem;
  border-radius: 0 1rem 1rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  box-shadow: 5px 5px 5px rgb(165, 165, 165);
  position: relative;
}
@media screen and (min-width: 48rem) {
  .pokemon__content {
    flex-direction: row;
  }
}
.pokemon__image {
  height: 9.5rem;
  width: 8rem;
  -o-object-fit: contain;
     object-fit: contain;
  background-color: white;
  border-radius: 0.25rem;
  padding: 0.5rem;
  flex-basis: 1;
}
.pokemon__decor-button-container {
  position: relative;
  width: 16px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (min-width: 48rem) {
  .pokemon__decor-button-container {
    display: flex;
  }
}
.pokemon__decor-button-container-small {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.pokemon__decor-button1 {
  background-color: rgb(144, 144, 251);
  border-radius: 0.25rem;
  width: 1rem;
  height: 1rem;
}
.pokemon__decor-button2 {
  background-color: #8ac883;
  border-radius: 5px;
  width: 1rem;
  height: 32px;
}
.pokemon__description-container {
  background-color: rgb(237, 237, 237);
  border-radius: 0.25rem;
  font-size: 0.75rem;
  padding: 0.75rem;
  width: 100%;
}
@media screen and (min-width: 48rem) {
  .pokemon__description-container {
    width: 13rem;
  }
}
.pokemon__description {
  font-size: 0.625rem;
}
@media screen and (min-width: 48rem) {
  .pokemon__description {
    font-size: 0.75rem;
  }
}
.pokemon__stats-moves-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.pokemon__moves-container {
  font-size: 0.75rem;
  background-color: rgb(237, 237, 237);
  border-radius: 0.25rem;
  padding: 0.75rem;
}
.pokemon__moves-list {
  list-style: none;
  margin-bottom: 0.5rem;
  width: 6.5rem;
  text-transform: capitalize;
}
.pokemon__move {
  text-align: center;
  margin: 0.5rem 0;
  border: 1px solid black;
  border-radius: 7px;
  padding: 0.1rem;
  font-weight: bold;
}
.pokemon__stats-container {
  font-size: 0.75rem;
  background-color: rgb(237, 237, 237);
  border-radius: 0.25rem;
  padding: 0.75rem;
  width: 10rem;
}
@media screen and (min-width: 48rem) {
  .pokemon__stats-container {
    width: 9rem;
  }
}
.pokemon__stat-num {
  font-weight: bold;
  padding: 0;
}
.pokemon__stat-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.pokemon__stat-row-bst {
  border-top: 1px solid darkgray;
  padding-top: 0.25rem;
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
}

.footer {
  background-color: rgb(254, 80, 80);
  color: white;
  margin-top: 2.5rem;
  padding: 2rem;
}
.footer__text {
  text-align: center;
}/*# sourceMappingURL=styles.css.map */